// Buttons
//==|====================

.button {
	display: inline-block;
	padding: $button-padding-y $button-padding-x;
	font-size: rem($font-size-base);
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	font-weight: $button-font-weight;
	line-height: $button-line-height;
	@include border-radius($button-border-radius);
	text-align: center;
	user-select: none;
	border: $border-width solid transparent;

	@include hover {
		color: $body-color;
		text-decoration: none;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	// Désactiver
	&.disabled,
	&:disabled {
		cursor: not-allowed;
		opacity: $button-disabled-opacity;
	}

	//
	&:not(:disabled):not(.disabled) {
		cursor: pointer;
	}

	// Icons Svg
	&.icon-svg,
	svg {
		fill: currentColor;
		width: rem(16);
		margin-right: rem(8);
	}
}

a.button.disabled,
fieldset:disabled a.button {
	pointer-events: none;
}

// Buttons variant
@each $color, $value in $theme-colors {
	.button-#{$color} {
		@include button-variant($value, $value);
	}
}

@each $color, $value in $theme-colors {
	.button-outline-#{$color} {
		@include button-outline-variant($value);
	}
}
