// Cards
//==|====================

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	overflow: hidden;
	background-color: $card-bg;
	background-clip: border-box;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, .1);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .12), 0 0px 1px 0 rgba(0, 0, 0, .08);

	@include border-radius($card-border-radius);

	> hr {
		margin-right: 0;
		margin-left: 0;
	}
}

.card-content {
	flex: 1 1 auto;
	padding: $card-spacer-x;
	color: $card-color;
}

.card-title { margin-bottom: $card-spacer-y; }

.card-subtitle {
	margin-top: -$card-spacer-y / 2;
	margin-bottom: 0;
}

.card-text:last-child { margin-bottom: 0; }

.card-img { width: 100%; }
