// Formulaires
//==|====================

.form-input,
.form-select,
.form-control {
	display: block;
	width: 100%;
	height: $input-height;
	padding: $input-padding-y $input-padding-x;
	font-size: $input-font-size;
	font-weight: $input-font-weight;
	line-height: $input-line-height;
	color: $input-color;
	background-color: $input-bg;
	background-clip: padding-box;
	border: $input-border-width solid $input-border-color;

	@include border-radius($input-border-radius);

	&::-ms-expand {
		background-color: transparent;
		border: 0;
	}

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 $input-color;
	}

	@include form-input-focus();

	// Placeholder
	&::placeholder {
		color: #bcc3ce;
		opacity: 1;
	}

	&:disabled,
	&[readonly] {
		background-color: $input-disabled-bg;
		opacity: 1;
	}
}

.form-input-file,
.form-input-range {
	display: block;
	width: 100%;
}

label,
.label {
	display: inline-block;
	margin-bottom: rem(8);
}

select.form-select {
	&:focus::-ms-value {
		color: $input-color;
		background-color: $input-bg;
	}

	&[size],
	&[multiple] {
		height: auto;
	}
}

textarea.form-input {
	height: auto;
}

// Group
.form-group {
	margin-bottom: $form-group-margin-bottom;
}

.form-text {
	display: block;
	margin-top: $form-text-margin-top;
}

// Form grid
.form-row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -$form-grid-gutter-width / 2;
	margin-left: -$form-grid-gutter-width / 2;

	> .col,
	> [class*="col-"] {
		padding-right: $form-grid-gutter-width / 2;
		padding-left: $form-grid-gutter-width / 2;
	}
}

.form-check {
	position: relative;
	display: block;
	padding-left: $form-check-input;
}

.form-check-input {
	position: absolute;
	margin-top: $form-check-input-margin-y;
	margin-left: -$form-check-input;

	&[disabled] ~ .form-check-label,
	&:disabled ~ .form-check-label {
		color: $text-muted;
	}
}

.form-check-label {
	margin-bottom: 0;
}

.form-check-inline {
	display: inline-flex;
	align-items: center;
	padding-left: 0;
	margin-right: $form-check-inline-margin-x;

	.form-check-input {
		position: static;
		margin-top: 0;
		margin-right: $form-check-inline-input-margin-x;
		margin-left: 0;
	}
}

// Inline forms
.form-inline {
	display: flex;
	flex-flow: row wrap;
	align-items: center;

	.form-check {
		width: 100%;
	}

	@include media-breakpoint-up(s) {
		label {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 0;
		}

		.form-group {
			display: flex;
			flex: 0 0 auto;
			flex-flow: row wrap;
			align-items: center;
			margin-bottom: 0;
		}

		.form-input,
		.form-select,
		.form-control {
			display: inline-block;
			width: auto;
			vertical-align: middle;
		}

		.form-control-plaintext {
			display: inline-block;
		}

		.input-group,
		.custom-select {
			width: auto;
		}

		.form-check {
			display: flex;
			align-items: center;
			justify-content: center;
			width: auto;
			padding-left: 0;
		}

		.form-check-input {
			position: relative;
			flex-shrink: 0;
			margin-top: 0;
			margin-right: rem(4);
			margin-left: 0;
		}

		.custom-control {
			align-items: center;
			justify-content: center;
		}

		.custom-control-label {
			margin-bottom: 0;
		}
	}
}

// Input group
//==|====================
.input-group {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;

	> .form-control,
	> .form-control-plaintext,
	> .custom-select,
	> .custom-file {
		position: relative;
		flex: 1 1 auto;
		width: 1%;
		margin-bottom: 0;

		+ .form-control,
		+ .custom-select,
		+ .custom-file {
			margin-left: -$input-border-width;
		}
	}

	> .form-control:focus,
	> .custom-select:focus,
	> .custom-file .custom-file-input:focus ~ .custom-file-label {
		z-index: 3;
	}

	> .custom-file .custom-file-input:focus {
		z-index: 4;
	}

	> .form-control,
	> .custom-select {
		&:not(:last-child) { @include border-right-radius(0); }
		&:not(:first-child) { @include border-left-radius(0); }
	}

	> .custom-file {
		display: flex;
		align-items: center;

		&:not(:last-child) .custom-file-label,
		&:not(:last-child) .custom-file-label::after { @include border-right-radius(0); }
		&:not(:first-child) .custom-file-label { @include border-left-radius(0); }
	}
}

// Prepend and append
.input-group-prepend,
.input-group-append {
	display: flex;

	.button {
		position: relative;
		z-index: 2;

		&:focus {
			z-index: 3;
		}
	}

	.button + .button,
	.button + .input-group-text,
	.input-group-text + .input-group-text,
	.input-group-text + .button {
		margin-left: -$input-border-width;
	}
}

.input-group-prepend { margin-right: -$input-border-width; }
.input-group-append { margin-left: -$input-border-width; }

// Textuels
.input-group-text {
	display: flex;
	align-items: center;
	padding: rem(4) $input-padding-x;
	margin-bottom: 0;
	font-size: $input-font-size;
	font-weight: $font-weight-normal;
	line-height: $input-line-height;
	color: $input-color;
	text-align: center;
	white-space: nowrap;
	background-color: $input-group-addon-bg;
	border: $input-border-width solid $input-border-color;

	@include border-radius($input-border-radius);

	// Nuke default margins from checkboxes and radios to vertically center within.
	input[type="radio"],
	input[type="checkbox"] {
		margin-top: 0;
	}
}

.input-group > .input-group-prepend > .button,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .button,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .button:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
	@include border-right-radius(0);
}

.input-group > .input-group-append > .button,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .button,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .button:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
	@include border-left-radius(0);
}
