// Tables
//==|====================

.table {
	width: 100%;
	margin-bottom: $spacer;
	color: $table-color;
	background-color: $table-bg;

	th,
	td {
		padding: $table-padding;
		vertical-align: top;
		border-top: $table-border-width solid $table-border-color;
	}

	thead th {
		vertical-align: bottom;
		border-bottom: (2 * $table-border-width) solid $table-border-color;
	}

	tbody + tbody {
		border-top: (2 * $table-border-width) solid $table-border-color;
	}
}

.table-s {
	th,
	td {
		padding: $table-padding-sm;
	}
}

.table-bordered {
	border: $table-border-width solid $table-border-color;

	th,
	td {
		border: $table-border-width solid $table-border-color;
	}

	thead {
		th,
		td {
			border-bottom-width: 2 * $table-border-width;
		}
	}
}

.table-striped {
	tbody tr:nth-of-type(#{$table-striped-order}) {
		background-color: $table-accent-bg;
	}
}
