// Alert
//==|====================
.alert {
	position: relative;
	padding: $alert-padding-y $alert-padding-x;
	margin-bottom: rem($alert-margin-bottom);
	border: $alert-border-width solid transparent;

	@include border-radius($alert-border-radius);
}

.alert-link {
	font-weight: $alert-link-font-weight;
}

.alert-dismissible {
	padding-right: $alert-dismissible-padding-r;

	.button-close {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1 + 1;
		padding: $alert-padding-y * 1.25 $alert-padding-x;
	}
}

@each $state, $value in $theme-colors {
	$alert-background: shift-color($value, $alert-bg-scale);
	$alert-border: shift-color($value, $alert-border-scale);
	$alert-color: shift-color($value, $alert-color-scale);

	@if (contrast-ratio($alert-background, $alert-color) < $min-contrast-ratio) {
		$alert-color: mix($value, color-contrast($alert-background), abs($alert-color-scale));
	}

	.alert-#{$state} {
		@include alert-variant($alert-background, $alert-border, $alert-color);
	}
}
