// Cards
//==|====================
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	height: null;
	word-wrap: break-word;
	background-color: $card-bg;
	background-clip: border-box;
	border: $card-border-width solid $card-border-color;

	@include border-radius(rem($card-border-radius));

	> hr {
		margin-right: 0;
		margin-left: 0;
	}

	> .list-group {
		border-top: inherit;
		border-bottom: inherit;

		&:first-child {
			border-top-width: 0;

			@include border-top-radius($card-inner-border-radius);
		}

		&:last-child {
			border-bottom-width: 0;

			@include border-bottom-radius($card-inner-border-radius);
		}
	}

	> .card-header + .list-group,
	> .list-group + .card-footer {
		border-top: 0;
	}
}

.card-content {
	flex: 1 1 auto;
	padding: $card-spacer-y $card-spacer-x;
	color: null;
}

.card-title {
	margin-bottom: $card-title-spacer-y;
}

.card-subtitle {
	margin-top: -$card-title-spacer-y * .5;
	margin-bottom: 0;
}

.card-text:last-child {
	margin-bottom: 0;
}

.card-link {
	&:hover {
		text-decoration: none;
	}

	+ .card-link {
		margin-left: $card-spacer-x;
	}
}

.card-header {
	padding: $card-cap-padding-y $card-cap-padding-x;
	margin-bottom: 0;
	color: null;
	background-color: $card-cap-bg;
	border-bottom: $card-border-width solid $card-border-color;

	&:first-child {
		@include border-radius(rem($card-inner-border-radius) rem($card-inner-border-radius) 0 0);
	}
}

.card-footer {
	padding: $card-cap-padding-y $card-cap-padding-x;
	color: null;
	background-color: $card-cap-bg;
	border-top: $card-border-width solid $card-border-color;

	&:last-child {
		@include border-radius(0 0 $card-inner-border-radius $card-inner-border-radius);
	}
}

.card-img,
.card-img-top,
.card-img-bottom {
	width: 100%;
}

.card-img,
.card-img-top {
	@include border-top-radius($card-inner-border-radius);
}

.card-img,
.card-img-bottom {
	@include border-bottom-radius($card-inner-border-radius);
}
