// Mixin - Forms
// ==|====================

@mixin form-control-focus() {
	&:focus {
		outline: 0;
		border-color: $input-focus-border-color;
		color: $input-focus-color;
		background-color: $input-focus-bg;
		// box-shadow: $input-focus-box-shadow;
	}
}
