// Mixins - Utilitaires
//==|====================

// Border radius
// ==|====================
@mixin border-radius($radius: $border-radius) {
	border-radius: rem($radius);
}

@mixin border-top-radius($radius) {
	border-top-left-radius: rem($radius);
	border-top-right-radius: rem($radius);
}

@mixin border-right-radius($radius) {
	border-top-right-radius: rem($radius);
	border-bottom-right-radius: rem($radius);
}

@mixin border-bottom-radius($radius) {
	border-bottom-right-radius: rem($radius);
	border-bottom-left-radius: rem($radius);
}

@mixin border-left-radius($radius) {
	border-top-left-radius: rem($radius);
	border-bottom-left-radius: rem($radius);
}
